
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>
<br />

<h5>Bachelor's of Science in Computer Science and Engineering (CSE)</h5>
<h6>American International University Bangladesh</h6>
<small>2019-Present</small>
<h6>Academic Informations:</h6>
<ul>
    <li>CGPA: 3.95</li>
    <li>Major: Information Systems</li>
</ul>
<br />
<h5>Higher Secondary Certificate</h5>
<h6>Gurudayal Gov't College</h6>
<small>2016-2018</small>
<h6>Academic Informations:</h6>
<ul>
    <li>GPA: 3.67</li>
    <li>Group: Science</li>
</ul>
<br />
<h5>Secondary School Certificate</h5>
<h6>Kishoregonj Gov't Boys High School</h6>
<small>2011-2016</small>
<ul>
    <li>GPA: 4.50</li>
    <li>Group: Science</li>
</ul>


