
@{
    ViewBag.Title = "Index";
}

<h2>Welcome to my site</h2><br />
                           <p>Hello, I am <b>@ViewData["Name"]</b>. My Academic Details are given below. </p> <br />
                                                                                                       <p>AIUB ID : @ViewData["ID"]</p> <br />
                                                                                                                                        <p>Department : @ViewData["Dept"]</p>


