@model List<EcommerceFrontend.Models.ProductModel>


<h4>Products</h4>
<br />
<a href="/home/create">Add Product</a>
<br />
<table class="table table-responsive">
    <tr>
        <th>#</th>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>#</th>
        <th>#</th>
        <th>#</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Price</td>
            <td>@item.Quantity</td>
            <td><a href="/home/edit/@item.Id" class="btn btn-warning">Edit</a></td>
            <td><a href="/home/delete/@item.Id" class="btn btn-danger">Delete</a></td>
            <td><a href="/home/details/@item.Id" class="btn btn-info">Details</a></td>
        </tr>

    }
</table>

